.App{
  padding-top: 6rem;
  min-height: 100vh;
  background-color: #839B97;
}


.navbar{
  background-color: #34626c;
}

.navbar-brand{
  color: beige;
  margin: auto;
}

.pokemon-name{
  padding: 2px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color:#34626c ;
  text-decoration: underline;
}

.pokemon-image{
  border: 2px solid ;
  border-color: #CFD3CE;
 
}

.card{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-header{
  background-color: #CFD3CE;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 1.05rem;
  color:#34626c
}

.card-body{
  background-color: #C6B497;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 1rem;
}
 .badge{
   color: #623232;
 }

 .description{
  color:#623232;
 }

 .profile{
 
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.5rem;
    color:#34626c;
   
    margin-top: 0;
    padding-bottom: 8px;
 
 }